
  <h1>admin page here</h1>
  <h2><%= name %></h2>
  <p><%= skill %></p>
  <p><% if (age>21) { %>
    you should me do the marriage <% } else { %>
    you should be do study with attentively
    <% } %></p>
